<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Upload csv file</h1>
    <form action="/" method="post" enctype="multipart/form-data"> 
        <input type="file" name="csv" style="text-align: center;"><br><br>
        </div>
        <div style="text-align: center;">
            <button type="submit">SUBMIT</button>
        </div>
    </form>
    <br>
    <a href="/insertion" style="text-align: center;"><button type="submit" >INSERT DATA</button></a>
    <br>
    <br>
    <a href="/deletion" style="text-align: center;"><button type="submit">DELETE DATA</button></a>
    <br>
    <br>
    <a href="/edition" style="text-align: center;"><button type="submit">EDIT DATA</button></a>
    <br>
    <br>
    <a href="/details" style="text-align: center;"><button type="submit">VIEW DATA</button></a>
    <br>
    <br> 

    
</body>
</html>