<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 style="text-align: center;">Please enter the details for insertion</h3>
    <form action="/insert" method="POST" style="text-align: center;">
        <label for="Date">Date:</label><br>
        <input type="date" name="Date">
        <br>
        <label for="Description">Description:</label><br>
        <input type="text" name="Description">
        <br>
        <label for="Amount">Amount:</label><br>
        <input type="text" name="Amount">
        <br>
        <label for="Currency">Currency:</label><br>
        <input type="text" name="Currency">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>